body.dark {
    color: $text-dark;
    
    header {
        background-color: $header-color;
        
        .header {
            &__menu-btn {
                &__burger {
                    background-color: $text-dark;
                    
                    &.open {
                        background-color: transparent;
                    }
                    
                    &::before, &::after {
                        background-color: $text-dark;
                    }
                }
            }
            
            &__back {
                &__icon {
                    &::before, &::after {
                        background-color: $text-dark;
                    }
                }
            }
        }
    }
    
    .main {
        background-color: $body-color;
        
        &.disabled {
            // NOTE: this is a new color must be added to the utils.scss
            background-color: #232324;
        }
    }
    
    footer {
        background-color: $header-color;
        
        .footer {
            &__settings {
                
                > div {
                    .dark {
                        display: unset;
                    }
                    
                    .light {
                        display: none;
                    }
                }
                
                & button {
                    
                    &.theme {
                        
                        > .dark {
                            opacity: 0;
                            width: 0;
                        }
                        
                        > .light {
                            opacity: 1;
                            width: 100%;
                        }
                    }
                }
            }
    
            &__more {
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(103%) contrast(104%);
        
                & * {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .side-menu {
        background-color: $header-color;
        
        button {
            background-color: $button-color;
            color: $text-dark;
            
            &:hover, &.active {
                background-color: $highlight-color;
            }
        }
    }
}
