footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 65px;
    background-color: $header-color-light;
    box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
    z-index: 2;
    user-select: none;
    transition: background-color 300ms;
    
    progress {
        position: absolute;
        top: 0;
        padding: 0;
        border: none;
        outline: none;
        height: 4px;
        background-color: #1e90ff4a;
        width: 100%;
        direction: ltr;
    }
    
    & .footer {
        margin: 0 1.3rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        & * {
            user-select: none;
            cursor: pointer;
            font-size: 1.2rem;
            transition: transform 100ms;
            transform: scale(1);
            backface-visibility: hidden;
            
            //&:hover {
            //    transform: scale(1.05);
            //}
        }
        
        &__settings {
            height: 30px;
            width: 30px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                z-index: -5;
            }
            
            // first div in settings
            & > div {
                display: flex;
                width: 26px;
                height: 23px;
                
                .dark {
                    display: none;
                }
            }
            
            &.open {
                //https://codepen.io/sosuke/pen/Pjoqqp
                //invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(103%) contrast(104%)
                & button.open {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            
            // setting logo
            & img {
                width: 100%;
                height: 100%;
            }
            
            // setting buttons
            & button {
                position: absolute;
                width: 32px;
                height: 32px;
                padding: 6px;
                border-radius: 100px;
                background-color: $header-color-light;
                border: none;
                display: none;
                
                &.active {
                    background-color: #b4924d;
                }
                
                &.theme {
                    
                    * {
                        transition: opacity 100ms;
                    }
                    
                    & > .light {
                        opacity: 0;
                        width: 0;
                    }
                }
            }
        }
        
        &__speed-toolbar {
            width: 30px;
            height: 30px;
            
            &.open {
                button {
                    opacity: 1;
                    transition: all 50ms;
                    display: flex;
                    
                    &.open {
                        background-color: $header-color-light;
                        border-radius: 100px;
                    }
                    
                    &.active {
                        background-color: #b4924d;
                        color: white;
                    }
                }
            }
            
            .footer__speed-selected {
                height: 100%;
                width: 100%;
                font-weight: bold;
                display: flex;
                align-items: end;
                justify-content: center;
                position: absolute;
            }
            
            // speed buttons
            & button {
                font-weight: bold;
                width: 67px;
                height: 24px;
                opacity: 0;
                display: none;
                border: 0;
                padding: 2px 0 0 0;
                //display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                transition: all 50ms;
                background-color: transparent;
            }
        }
        
        &__player {
            height: 45px;
            width: 45px;
            position: relative;
            
            img {
                opacity: 0;
                position: absolute;
                transition: opacity 75ms;
                visibility: hidden;
            }
            
            img.active {
                width: 100%;
                height: 100%;
                opacity: 1;
                position: static;
                visibility: visible;
            }
            
            img.pause {
                filter: hue-rotate(75deg);
            }
        }
        
        &__singer {
            height: 30px;
            width: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
            
            & * {
                display: flex;
                padding-top: 1px;
            }
        }
        
        &__more {
            height: 30px;
            width: 30px;
            
            & * {
                width: 100%;
                height: 100%;
            }
        }
        
        audio {
            display: none;
        }
    }
}

