// header
header {
    
    & .header {
        
        &__logo {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        
        &__language {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            
            path {
                fill: $icon-color-sepia;
            }
        }
    }
}

// main
.main {
    
    .pattern {
        height: 342px;
        background-image: url("../img/sepia/pattern-sepia.svg");
        background-position: center top;
        margin-top: 65px;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__quran {
            width: 200px;
            height: 200px;
            background-image: url("../img/sepia/quran.svg");
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 60px;
        }
    }
    
    .container {
        
        .main__content {
            padding: 65px 0;
            
        }
    }
}

// side menu
.side-menu {
    bottom: 0;
}
