// header
header {
    
    & .header {
        
        &__logo {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        
        &__language {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            
            path {
                fill: $icon-color-sepia;
            }
        }
    }
}

// main
.main {
    
    .pattern {
        height: 342px;
        background-image: url("../img/sepia/pattern-sepia.svg");
        background-position: center top;
        margin-top: 65px;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__quran {
            width: 200px;
            height: 200px;
            background-image: url("../img/sepia/quran.svg");
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 60px;
        }
    }
    
    .container {
        
        //.main {
        
        .main__content {
            padding: 65px 0;
            
            .sura_list {
                
                &__title {
                    font-weight: bold;
                    font-size: 1.4rem;
                    letter-spacing: -1px;
                    font-family: vazirmatn, sans-serif;
                    padding: 13px 7px;
                    color: $title-color-sepia;
                }
                
                &__content {
                    
                    .sura-name {
                        font-size: 2rem;
                        font-weight: bold;
                        background-size: contain;
                        background-image: url("../img/sepia/sura-name-container-sepia.svg");
                        padding: 15px 0 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $sura-carousel-color-sepia;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            
        }
        
        //}
    }
}

// side menu
.side-menu {
    bottom: 0;
}
