// dark theme
$header-color: #0c1f34;
$body-color: #0a101a;
$highlight-color-dark-hover: rgba(184, 219, 217, 0.15);
$highlight-color-dark-select: #445359;
$highlight-color: #847048;
$text-dark: #e2f0f1;
$button-color: #1c6981;

// light theme
$header-color-light: #F9FFFA;
$body-color-light: #EAF4F4;
$highlight-color-light-hover: #A4C3B2;
$highlight-color-light-select: #3E6856;
$side-menu-color: rgb(184, 219, 217);
$text-light: #3e6856;
$text-light-inside-select: #eaf4f4;

// sepia theme
$body-color-sepia: #FAEBD4;
$juz-list-background-sepia: #EFE1CBFF;
$text-sepia: #0c1f34;
$highlight-color-sepia-select: #D7C7B0;
$highlight-color-sepia-hover: #E9D9C4;
$header-color-sepia: #FFFDF3;
$icon-color-sepia: #A99374;
$title-color-sepia: #094A37;
$sura-carousel-color-sepia: #FAEBD4;

// number color for end of each aya
$number-color: #2b712b;

*[role='button'] {
    cursor: pointer;
}

*::-webkit-scrollbar {
    width: 0.2rem;
    background-color: transparent;
}

*::-webkit-scrollbar-thumb,
.side-menu__tab-content__tab::-webkit-scrollbar-thumb {
    background-color: rgba(35, 35, 35, 0.62);
    border-radius: 4px;
}

*::-webkit-scrollbar-track,
.side-menu__tab-content__tab::-webkit-scrollbar-track {
    background-color: #E5E5E5;
    border-radius: 8px;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-sm, .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-md, .container-sm, .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-lg, .container-md, .container-sm, .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1320px;
    }
}
