@import "utils";
@import "media_query";

// header
header {
    
    & .header {
        
        &__logo {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
        }
        
        &__language {
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            
            path {
                fill: $icon-color-sepia;
            }
        }
    }
}

// main
.main {
    
    .pattern {
        height: 342px;
        background-image: url("../img/sepia/pattern-sepia.svg");
        background-position: center top;
        margin-top: 65px;
        width: 100vw;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &__quran {
            width: 200px;
            height: 200px;
            background-image: url("../img/sepia/quran.svg");
            position: absolute;
            background-repeat: no-repeat;
            background-size: cover;
            top: 60px;
        }
    }
    
    .container-fluid {
        padding: 0;
        
        .main__content {
            padding: 65px 0 0 0;
            
            .sura_list_carousel {
                
                &__title {
                    font-weight: bold;
                    font-size: 1.4rem;
                    letter-spacing: -1px;
                    font-family: vazirmatn, sans-serif;
                    padding: 15px 20px;
                    color: $title-color-sepia;
                }
                
                &__content {
                    padding: 0 20px 40px 0;
                    
                    .sura-name {
                        font-size: 2rem;
                        text-decoration: none;
                        font-weight: bold;
                        background-size: contain;
                        background-image: url("../img/sepia/sura-name-container-sepia.svg");
                        padding: 15px 0 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $sura-carousel-color-sepia;
                        background-position: center;
                        background-repeat: no-repeat;
                        min-width: 8rem;
                    }
                }
            }
            
            .juz_list {
                background-color: $juz-list-background-sepia;
                padding: 60px 20px 30px;
                
                &__title {
                    color: $icon-color-sepia;
                    font-weight: bold;
                    font-size: 1.3rem;
                    letter-spacing: -1px;
                    font-family: vazirmatn, sans-serif;
                    margin-bottom: 30px;
                }
                
                &__content {
                    
                    .juz-name {
                        font-size: 1.5rem;
                        text-decoration: none;
                        font-weight: bold;
                        //background-size: contain;
                        background-image: url("../img/sepia/juz-name-container-sepia.svg");
                        padding: 35px 0 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: $sura-carousel-color-sepia;
                        background-position: center;
                        background-size: 100% 100%;
                        background-repeat: no-repeat;
                    }
                    
                    &__title {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        margin-bottom: 25px;
                    }
                    
                    .show {
                        overflow: hidden;
                        height: 0;
                        transition: height 700ms;
                    }
                    
                    &__body {
                        display: grid;
                        grid-template-columns: auto auto;
                        padding-top: 25px;
                        row-gap: 40px;
                        
                        .juz-name {
                            padding: 55px 10px 50px 10px;
                            margin: 0 10px 0 0;
                        }
                    }
                }
                
                &__button {
                    display: flex;
                    justify-content: center;
                    margin: 30px 0;
                    
                    button {
                        background-color: $icon-color-sepia;
                        border-radius: 6px !important;
                        border: none;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 15px;
                        width: 100%;
                        font-size: 1.5rem;
                        color: $sura-carousel-color-sepia;
                        font-family: "vazirmatn", sans-serif;
                    }
                }
            }
            
            .sura_list {
                padding: 60px 20px 30px;
                
                &__title {
                    font-weight: bold;
                    font-size: 1.4rem;
                    letter-spacing: -1px;
                    font-family: vazirmatn, sans-serif;
                    margin-top: 20px;
                    padding: 15px 20px;
                    color: #72603F;
                }
                
                .show {
                    height: 0;
                    transition: height 300ms;
                }
                
                &__content {
                    
                    &__title {
                        display: grid;
                        grid-template-columns: auto auto auto;
                        
                        .sura-name {
                            display: flex;
                            flex-direction: row;
                            justify-content: start;
                            padding: 5px 17% 20px 0;
                            height: 100px;
                            text-decoration: none;
                            margin: 5px 0;
                            
                            &__number {
                                width: 55px;
                                background-image: url("../img/sepia/sura-number-sepia.svg");
                                background-repeat: no-repeat;
                                background-size: 100% 100%;
                                background-position: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.7rem;
                                padding: 5px 20px 5px;
                                color: $sura-carousel-color-sepia;
                                font-family: KFG, sans-serif;
                            }
                            
                            &__name {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 1.7rem;
                                color: $title-color-sepia;
                            }
                        }
                    }
                    
                    .show {
                        overflow: hidden;
                        height: 0;
                        transition: height 300ms;
                        
                        .content {
                            display: grid;
                            grid-template-columns: auto auto auto;
                            overflow: hidden;
                            
                            .sura-name {
                                display: flex;
                                flex-direction: row;
                                justify-content: start;
                                padding: 5px 17% 20px 0;
                                height: 100px;
                                text-decoration: none;
                                margin: 5px 0;
                                
                                &__number {
                                    width: 55px;
                                    background-image: url("../img/sepia/sura-number-sepia.svg");
                                    background-repeat: no-repeat;
                                    background-size: 100% 100%;
                                    background-position: center;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.7rem;
                                    padding: 5px 20px 5px;
                                    color: $sura-carousel-color-sepia;
                                    font-family: KFG, sans-serif;
                                }
                                
                                &__name {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    font-size: 1.7rem;
                                    color: $title-color-sepia;
                                }
                            }
                        }
                    }
                }
            }
            
        }
    }
}

// side menu
.side-menu {
    bottom: 0;
}

footer {
    position: unset;
    width: unset;
    height: unset;
    
    @include mobile {
        .sites {
            display: none;
        }
        
        .description {
            background-color: #043124;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            min-height: 200px;
            padding: 30px;
            
            .rafed-container {
                width: 100%;
                margin-bottom: 30px;
            }
            
            .social-media {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
                img {
                    display: block;
                    height: 40.5px;
                    width: 40.5px;
                }
            }
            
            .contact-us {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 40px 0;
                padding: 20px 4.5%;
                
                a {
                    text-decoration: none;
                    font-family: "vazirmatn", sans-serif;
                    font-size: 1.5rem;
                    letter-spacing: -1px;
                    color: $sura-carousel-color-sepia;
                }
                
            }
            
        }
    }
    
    @include laptop {
        & > div {
            background-color: #043124;
            display: flex;
        }
        
        .sites {
            height: auto;
            padding: 30px;
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            
            
            .right, .left {
                margin-left: 10px;
                
                * {
                    font-family: "vazirmatn", sans-serif;
                }
                
                
                .title {
                    font-size: 1.2em;
                    color: $sura-carousel-color-sepia;
                    letter-spacing: -1px;
                    list-style: none;
                    padding: 0;
                    
                    li {
                        
                        &:first-child {
                            margin-top: 15px;
                        }
                        
                        font-size: 1rem;
                        padding-right: 10px;
                        line-height: 300%;
                    }
                }
            }
            
            .left {
                margin-left: 0;
                margin-right: 10px;
            }
        }
        
        .description {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 200px;
            padding: 30px;
            
            .rafed-container {
                width: 100%;
                margin-bottom: 30px;
            }
            
            .social-media {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                
                img {
                    display: block;
                    height: 40.5px;
                    width: 40.5px;
                }
            }
            
            .contact-us {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                margin: 40px 0;
                padding: 20px 4.5%;
                
                a {
                    text-decoration: none;
                    font-family: "vazirmatn", sans-serif;
                    font-size: 1.5rem;
                    letter-spacing: -1px;
                    color: $sura-carousel-color-sepia;
                }
                
            }
            
        }
    }
    
    @include monitor {
        .sites {
            padding: 30px;
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            
            .right, .left {
                margin-left: 10px;
                display: flex;
                width: 50%;
                
                * {
                    font-family: "vazirmatn", sans-serif;
                }
                
                
                .title {
                    font-size: 1.6em;
                    color: $sura-carousel-color-sepia;
                    letter-spacing: -1px;
                    list-style: none;
                    padding: 0;
                    
                    li {
                        
                        &:first-child {
                            margin-top: 15px;
                        }
                        
                        font-size: 1.2rem;
                        padding-right: 10px;
                        line-height: 250%;
                    }
                }
            }
            
            .left {
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
    
    .copyright {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $sura-carousel-color-sepia;
        
        .text {
            display: block;
            text-align: center;
            font-size: 1.4rem;
            font-family: "vazirmatn", sans-serif;
            user-select: text;
            cursor: text;
            padding: 0 10%;
            margin: 10px;
            line-height: 2.4rem;
        }
    }
}
