@import "utils";
@import "header";
@import "body";
@import "footer";
@import "side-menu";
@import "dark";
@import "sepia";

@font-face {
    font-family: "KFG";
    src: url("../fonts/KFG.ttf");
}

@font-face {
    font-family: "uthmani";
    src: url("../fonts/UthmanicHafs1Ver18.woff2");
}

@font-face {
    font-family: "sura_names";
    src: url("../fonts/sura_names.woff2");
}


@font-face {
    font-family: "vazirmatn";
    src: url("../fonts/vazirmatn/Vazirmatn-Regular.ttf"), url("../fonts/vazirmatn/Vazirmatn-Medium.ttf"),
    url("../fonts/vazirmatn/Vazirmatn-Bold.ttf"), url("../fonts/vazirmatn/Vazirmatn-ExtraBold.ttf");
}


* {
    box-sizing: border-box;
}

*:not(i) {
    font-family: "vazirmatn", sans-serif;
}

body {
    color: $text-light;
    
    &.disabled {
        overflow-y: hidden;
    }
    
    .main {
        background-color: $body-color-light;
        text-align: justify;
        transition: background-color 300ms;
        
        .container {
            padding: 0 20px;
        }
        
        &.disabled {
            background-color: #000000a1;
            user-select: none;
        }
        
        &__content {
            min-height: 100vh;
            padding: 75px 0;
            
            .owl-carousel {
                z-index: 0;
                
                .owl-stage {
                    padding-top: 15px;
                }
                
                .item {
                    background-color: transparent;
                    min-height: 75vh;
                    
                    .sura {
                        margin-bottom: 20px;
                        
                        .title {
                            width: 100%;
                            justify-content: center;
                            display: flex;
                            margin: .75em 0;
                            
                            span {
                                display: flex;
                                align-items: center;
                                font-size: 2.5rem;
                                font-weight: bold;
                                
                                :not(.sura_name) {
                                    color: #1668ba;
                                }
                            }
                        }
                        
                        .besm-allah {
                            margin: 1rem 0;
                            display: flex;
                            justify-content: center;
                            font-size: 1.6rem;
                            font-weight: bold;
                        }
                        
                        .content {
                            
                            span.aya {
                                font-size: 30px;
                                line-height: 1.9em;
                                letter-spacing: -0.025em;
                                cursor: pointer;
                                transition: background-color 120ms;
                                border-radius: 5px;
                                margin-left: 5px;
                                
                                &.selected, &.selected:hover {
                                    background-color: $highlight-color-light-select;
                                    
                                    span.text {
                                        color: $text-light-inside-select;
                                    }
                                    
                                    span.number {
                                        color: $text-light-inside-select;
                                    }
                                }
                                
                                &:hover {
                                    background-color: $highlight-color-light-hover;
                                }
                                
                                .text {
                                    border-radius: 5px;
                                    
                                    .number {
                                        font-size: 35px;
                                        color: $number-color;
                                        cursor: text;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            & * {
                font-family: 'uthmani', sans-serif;
            }
        }
    }
}
