@import "utils";
@import "header";
@import "body";
@import "footer";
@import "side-menu";
@import "dark";
@import "sepia";

@font-face {
    font-family: "KFG";
    src: url("../fonts/KFG.ttf");
}


@font-face {
    font-family: "vazirmatn";
    src: url("../fonts/vazirmatn/Vazirmatn-Regular.ttf"), url("../fonts/vazirmatn/Vazirmatn-Medium.ttf"),
    url("../fonts/vazirmatn/Vazirmatn-Bold.ttf"), url("../fonts/vazirmatn/Vazirmatn-ExtraBold.ttf");
}


* {
    box-sizing: border-box;
}

*:not(i) {
    font-family: "vazirmatn", sans-serif;
}

body {
    color: $text-light;
    
    &.disabled {
        overflow-y: hidden;
    }
    
    .main {
        background-color: $body-color-light;
        text-align: justify;
        transition: background-color 300ms;
        
        .container {
            padding: 0 20px;
        }
        
        &.disabled {
            background-color: #000000a1;
            user-select: none;
        }
        
        &__content {
            min-height: 100vh;
            padding: 75px 0;
            
            .owl-carousel {
                z-index: 0;
                
                .item {
                    background-color: transparent;
                    min-height: 75vh;
                    
                    .title {
                        width: 100%;
                        justify-content: center;
                        display: none;
                        margin: .75em 0;
                        
                        &.active {
                            display: flex;
                            
                            span {
                                display: flex;
                                align-items: center;
                                font-size: 2.5rem;
                                font-weight: bold;
                                
                                :not(.sura_name) {
                                    color: #1668ba;
                                }
                            }
                        }
                    }
                }
            }
            
            & * {
                font-family: 'KFG', sans-serif;
            }
        }
        
        span.aya {
            font-size: 25px;
            line-height: 1.8em;
            letter-spacing: -0.025em;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 100ms;
            border-radius: 5px;
            
            :hover {
                background-color: $highlight-color-light-hover;
            }
            
            .number {
                color: #2b712b;
                cursor: text;
                background-color: transparent;
                
                :hover {
                    background-color: transparent;
                }
            }
            
            .text {
                border-radius: 5px;
            }
        }
    }
}
