*[role=button] {
  cursor: pointer;
}

.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1320px;
  }
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 65px;
  background-color: #E2F0F1;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
  z-index: 2;
  user-select: none;
  transition: background-color 300ms;
}
header .header {
  margin: 0 1.3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__menu-btn {
  height: 20px;
  width: 20px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  position: relative;
}
header .header__menu-btn__burger {
  position: absolute;
  top: 0.5rem;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #0c1f34;
  transition: all 200ms ease-in-out;
}
header .header__menu-btn__burger.open {
  background-color: transparent;
  transform: rotate(90deg);
}
header .header__menu-btn__burger.open::before {
  transform: rotate(45deg) translate(3px, 7px);
}
header .header__menu-btn__burger.open::after {
  transform: rotate(-45deg) translate(3px, -7px);
}
header .header__menu-btn__burger::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #0c1f34;
  transition: all 200ms ease-in-out;
}
header .header__menu-btn__burger::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  height: 4px;
  border-radius: 2px;
  width: 100%;
  background: #0c1f34;
  transition: all 200ms ease-in-out;
}
header .header__surah {
  font-weight: bold;
  font-size: 1.75rem;
}
header .header__back {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 25px;
  width: 25px;
}
header .header__back__icon {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}
header .header__back__icon::before {
  content: "";
  height: 4px;
  width: 70%;
  display: block;
  border-radius: 2px;
  transform: rotate(45deg) translate(6px, 16px);
  background-color: #0c1f34;
  position: absolute;
}
header .header__back__icon::after {
  content: "";
  height: 4px;
  width: 70%;
  display: block;
  border-radius: 2px;
  transform: rotate(-45deg) translate(-9px, -1px);
  background-color: #0c1f34;
  position: absolute;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 65px;
  background-color: #E2F0F1;
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
  z-index: 2;
  user-select: none;
  transition: background-color 300ms;
}
footer progress {
  position: absolute;
  top: 0;
  padding: 0;
  border: none;
  outline: none;
  height: 4px;
  background-color: rgba(30, 144, 255, 0.2901960784);
  width: 100%;
  direction: ltr;
}
footer .footer {
  margin: 0 1.3rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer * {
  user-select: none;
  cursor: pointer;
  font-size: 1.2rem;
  transition: transform 100ms;
  transform: scale(1);
  backface-visibility: hidden;
}
footer .footer__settings {
  height: 30px;
  width: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer__settings img {
  z-index: -5;
}
footer .footer__settings > div {
  display: flex;
  width: 26px;
  height: 23px;
}
footer .footer__settings > div .dark {
  display: none;
}
footer .footer__settings.open button.open {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer__settings img {
  width: 100%;
  height: 100%;
}
footer .footer__settings button {
  position: absolute;
  width: 32px;
  height: 32px;
  padding: 6px;
  border-radius: 100px;
  background-color: #E2F0F1;
  border: none;
  display: none;
}
footer .footer__settings button.active {
  background-color: #b4924d;
}
footer .footer__settings button.theme * {
  transition: opacity 100ms;
}
footer .footer__settings button.theme > .light {
  opacity: 0;
  width: 0;
}
footer .footer__speed-toolbar {
  width: 30px;
  height: 30px;
}
footer .footer__speed-toolbar.open button {
  opacity: 1;
  transition: all 50ms;
  display: flex;
}
footer .footer__speed-toolbar.open button.open {
  background-color: #E2F0F1;
  border-radius: 100px;
}
footer .footer__speed-toolbar.open button.active {
  background-color: #b4924d;
  color: white;
}
footer .footer__speed-toolbar .footer__speed-selected {
  height: 100%;
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
}
footer .footer__speed-toolbar button {
  font-weight: bold;
  width: 67px;
  height: 24px;
  opacity: 0;
  display: none;
  border: 0;
  padding: 2px 0 0 0;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: all 50ms;
  background-color: transparent;
}
footer .footer__player {
  height: 45px;
  width: 45px;
  position: relative;
}
footer .footer__player img {
  opacity: 0;
  position: absolute;
  transition: opacity 75ms;
  visibility: hidden;
}
footer .footer__player img.active {
  width: 100%;
  height: 100%;
  opacity: 1;
  position: static;
  visibility: visible;
}
footer .footer__player img.pause {
  filter: hue-rotate(75deg);
}
footer .footer__singer {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
footer .footer__singer * {
  display: flex;
  padding-top: 1px;
}
footer .footer__more {
  height: 30px;
  width: 30px;
}
footer .footer__more * {
  width: 100%;
  height: 100%;
}
footer .footer audio {
  display: none;
}

.side-menu {
  background-color: rgb(184, 219, 217);
  position: -ms-device-fixed;
  position: fixed;
  top: 65px;
  bottom: 65px;
  width: 100%;
  transform: translate(100%, 0);
  transition: all 300ms;
  transition-timing-function: ease;
  overflow-x: hidden;
  padding: 10px;
  box-shadow: none;
}
@media screen and (min-width: 768px) {
  .side-menu {
    width: 400px;
  }
}
.side-menu > div {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 25px;
}
.side-menu.open {
  transform: translate(0, 0);
  box-shadow: 0 0 24px 12px rgba(0, 0, 0, 0.24);
}
.side-menu__btn-group {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.side-menu__btn-group button {
  outline: none;
  border: none;
  padding: 7px 0;
  display: block;
  width: 100%;
  cursor: pointer;
  background-color: #FDFDFD;
  transition: all 50ms;
  font-size: 1.2rem;
  font-weight: bold;
}
.side-menu__btn-group button:hover, .side-menu__btn-group button.active {
  background-color: rgba(22, 25, 30, 0.1607843137);
}
.side-menu__btn-group button {
  border: 1px solid #bbb;
  border-top: none;
  border-bottom: none;
}
.side-menu__btn-group button:first-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border: none;
}
.side-menu__btn-group button:last-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border: none;
}
.side-menu__tab-content {
  overflow-y: scroll;
  height: 100%;
  user-select: none;
}
.side-menu__tab-content__tab {
  display: none;
  text-align: justify;
}
.side-menu__tab-content__tab.active {
  display: block;
  height: 100%;
}

body.dark {
  color: #e2f0f1;
}
body.dark header {
  background-color: #0c1f34;
}
body.dark header .header__menu-btn__burger {
  background-color: #e2f0f1;
}
body.dark header .header__menu-btn__burger.open {
  background-color: transparent;
}
body.dark header .header__menu-btn__burger::before, body.dark header .header__menu-btn__burger::after {
  background-color: #e2f0f1;
}
body.dark header .header__back__icon::before, body.dark header .header__back__icon::after {
  background-color: #e2f0f1;
}
body.dark .main {
  background-color: #0a101a;
}
body.dark .main.disabled {
  background-color: #232324;
}
body.dark footer {
  background-color: #0c1f34;
}
body.dark footer .footer__settings > div .dark {
  display: unset;
}
body.dark footer .footer__settings > div .light {
  display: none;
}
body.dark footer .footer__settings button.theme > .dark {
  opacity: 0;
  width: 0;
}
body.dark footer .footer__settings button.theme > .light {
  opacity: 1;
  width: 100%;
}
body.dark footer .footer__more {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(112deg) brightness(103%) contrast(104%);
}
body.dark footer .footer__more * {
  width: 100%;
  height: 100%;
}
body.dark .side-menu {
  background-color: #0c1f34;
}
body.dark .side-menu button {
  background-color: #1c6981;
  color: #e2f0f1;
}
body.dark .side-menu button:hover, body.dark .side-menu button.active {
  background-color: #847048;
}

body.sepia {
  color: #0c1f34;
}
body.sepia header {
  background-color: #fff7ea;
}
body.sepia header .header__menu-btn__burger {
  background-color: #0c1f34;
}
body.sepia header .header__menu-btn__burger.open {
  background-color: transparent;
}
body.sepia header .header__menu-btn__burger::before, body.sepia header .header__menu-btn__burger::after {
  background-color: #0c1f34;
}
body.sepia header .header__back__icon::before, body.sepia header .header__back__icon::after {
  background-color: #0c1f34;
}
body.sepia .main {
  background-color: #f8ebd5;
}
body.sepia footer {
  background-color: #fff7ea;
}
body.sepia footer .footer__settings > div .dark {
  display: none;
}
body.sepia footer .footer__settings > div .light {
  display: unset;
}
body.sepia footer .footer__settings button.theme > .dark {
  opacity: 1;
  width: 100%;
}
body.sepia footer .footer__more * {
  width: 100%;
  height: 100%;
}
body.sepia .side-menu {
  background-color: #fff7ea;
}

@font-face {
  font-family: "KFG";
  src: url("../fonts/KFG.ttf");
}
@font-face {
  font-family: "vazirmatn";
  src: url("../fonts/vazirmatn/Vazirmatn-Regular.ttf"), url("../fonts/vazirmatn/Vazirmatn-Medium.ttf"), url("../fonts/vazirmatn/Vazirmatn-Bold.ttf"), url("../fonts/vazirmatn/Vazirmatn-ExtraBold.ttf");
}
* {
  box-sizing: border-box;
}

*:not(i) {
  font-family: "vazirmatn", sans-serif;
}

body {
  color: #0c1f34;
}
body.disabled {
  overflow-y: hidden;
}
body .main {
  background-color: #FDFDFD;
  text-align: justify;
  transition: background-color 300ms;
}
body .main .container {
  padding: 0 20px;
}
body .main.disabled {
  background-color: rgba(0, 0, 0, 0.631372549);
  user-select: none;
}
body .main__content {
  height: 100%;
  padding: 75px 0;
}
body .main__content * {
  font-family: "KFG", sans-serif;
}
body .main p {
  font-size: 25px;
  line-height: 40px;
  letter-spacing: -0.025em;
  font-weight: bold;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
