{% extends "quran/views/base.html" %}
{% load static %}

{% block header %}
    <header>
        <div class="header">
            <div role="button" class="header__menu-btn">
                <span class="header__menu-btn__burger"></span>
            </div>
            <div role="button" class="header__surah">
                <span>سورَة</span>
                <span id="page_number">صَفحَة</span>
            </div>
            <div role="button" class="header__back">
                <span class="header__back__icon"></span>
            </div>
        </div>
    </header>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="container">
            <div class="main__content">
                <div class="owl-carousel owl-theme"></div>
            </div>
        </div>
    </div>


    <div class="side-menu">
        <div class="container-fluid">
            <!-- handmade -->
            <div class="side-menu__btn-group container-fluid" role="group" aria-label="Basic example">
                <button type="button" data-bs-target="#sura" class="active">سورة</button>
                <button type="button" data-bs-target="#page" class="">صفحة</button>
                <button type="button" data-bs-target="#juz" class="">جزء</button>
            </div>
            <!-- Tab panes -->
            <div class="side-menu__tab-content container-fluid">
                <div class="side-menu__tab-content__tab active" id="sura" role="tabpanel" tabindex="0"></div>
                <div class="side-menu__tab-content__tab" id="page" role="tabpanel" tabindex="0"></div>
                <div class="side-menu__tab-content__tab" id="juz" role="tabpanel" tabindex="0"></div>
            </div>
            <!-- handmade -->
        </div>
    </div>
{% endblock %}

{% block js %}{% endblock %}
