<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
        <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
        <!--<meta name="description" content="The Quran is the holy book of Islam and a source of guidance for over 1 billion Muslims around the world. Explore its teachings and history here.">
        <meta name="keywords" content="Quran, Islam, holy book, teachings, history">
        <meta name="robots" content="index, follow">
        <meta name="author" content="[Your Website Name]">
        <link rel="canonical" href="https://www.yourwebsite.com/quran/">
        <meta property="og:title" content="The Quran: Explore its Teachings and History">
        <meta property="og:description" content="The Quran is the holy book of Islam and a source of guidance for over 1 billion Muslims around the world. Explore its teachings and history here.">
        <meta property="og:image" content="https://www.yourwebsite.com/quran/cover.jpg">
        <meta property="og:url" content="https://www.yourwebsite.com/quran/">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en_US">
        <meta property="og:site_name" content="[Your Website Name]">-->

        <title>Quran</title>

        <!--  favicon  -->
        <link rel="shortcut icon" href="{% static 'assets/img/tanzil.svg' %}" type="image/x-icon"/>

        <!--  Normalize  -->
        <link rel="stylesheet" href="{% static 'assets/css/normalize.css' %}"/>

        <!--  OWL  -->
        <link rel="stylesheet" href="{% static 'assets/plugins/owl/owl.carousel.min.css' %}"/>
        <link rel="stylesheet" href="{% static 'assets/plugins/owl/owl.theme.default.min.css' %}"/>

        <!--  Custom  -->
        <link rel="stylesheet" href="{% static 'assets/scss/main.css' %}"/>
    </head>

    <body class="dark">
        <header>
            <div class="header">
                <div role="button" class="header__menu-btn">
                    <span class="header__menu-btn__burger"></span>
                </div>
                <div role="button" class="header__surah">
                    <span>سورَة</span>
                    <span id="page_number">صَفحَة</span>
                </div>
                <div role="button" class="header__back">
                    <span class="header__back__icon"></span>
                </div>
            </div>
        </header>

        <div class="main">
            <div class="container">
                <div class="main__content">
                    <div class="owl-carousel owl-theme"></div>
                </div>
            </div>
        </div>

        <footer>
            <progress id="progress" value="0" max="100"></progress>
            <div class="footer" id="player">
                <div role="button" class="footer__settings">
                    <div>
                        <img class="light" src="{% static 'assets/icons/svg/Adark.svg' %}" alt="font settings">
                        <img class="dark" src="{% static 'assets/icons/svg/Alight.svg' %}" alt="font settings">
                    </div>
                    <button class="theme">
                        <img class="dark" src="{% static 'assets/icons/svg/moon.svg' %}"
                             alt="dark theme">
                        <img class="light" src="{% static 'assets/icons/svg/sun.svg' %}"
                             alt="light theme">
                    </button>
                    <button class="sepia">
                        <img class="dark" src="{% static 'assets/icons/svg/sepia.svg' %}"
                             alt="sepia">
                    </button>
                    <button value="plus" class="font">
                        <img src="{% static 'assets/icons/svg/A+.svg' %}" alt="increase font size">
                    </button>
                    <button value="minus" class="font">
                        <img src="{% static 'assets/icons/svg/A-.svg' %}" alt="decrease font size">
                    </button>
                </div>
                <div role="button" class="footer__speed-toolbar">
                    <div class="footer__speed-selected">
                        1.00x
                    </div>
                    <button value="1" class="active">1.00x</button>
                    <button value="1.5" class="">1.50x</button>
                    <button value="2" class="">2.00x</button>
                    <button value="2.5" class="">2.50x</button>
                </div>
                <div role="button" class="footer__player">
                    <div>
                        <img class="play active logo" src="{% static 'assets/icons/svg/play-circle-fill.svg' %}"
                             alt="play icon">
                        <img class="pause logo" src="{% static 'assets/icons/svg/pause-circle-fill.svg' %}"
                             alt="pause icon">
                    </div>
                    <audio preload="metadata">
                        <source src="{% static 'assets/audio/ziarat-ashoura_meytham.mp3' %}" type="audio/mp3"/>
                        <!-- <source src="{% static 'assets/audio/ziarat-ashoura_meytham.mp3' %}" type="audio/ogg"/> -->
                    </audio>
                </div>
                <div role="button" class="footer__singer">
                    <div>
                        قاري
                    </div>
                </div>
                <div role="button" class="footer__more">
                    <img src="{% static 'assets/icons/svg/three-dots-vertical.svg' %}" alt="more options">
                </div>
            </div>
        </footer>

        <div class="side-menu">
            <!-- bootstrap version -->
            <!--<div class="row">
                <div class="side-menu__btn-group" role="group" aria-label="Basic example">
                    <button type="button" data-bs-target="#home" data-bs-toggle="tab" role="tab" aria-selected="true" class="btn btn-light active">Left</button>
                    <button type="button" data-bs-target="#profile" data-bs-toggle="tab" role="tab" aria-selected="false" class="btn btn-light">Middle</button>
                    <button type="button" data-bs-target="#messages" data-bs-toggle="tab" role="tab" aria-selected="false" class="btn btn-light">Right</button>
                </div>
                &lt;!&ndash; Tab panes &ndash;&gt;
                <div class="tab-content">
                    <div class="tab-pane show active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">home</div>
                    <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">profile</div>
                    <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab" tabindex="0">messages</div>
                </div>
            </div>-->
            <!-- bootstrap version -->

            <div class="container-fluid">
                <!-- handmade -->
                <div class="side-menu__btn-group container-fluid" role="group" aria-label="Basic example">
                    <button type="button" data-bs-target="#sura" class="active">سورة</button>
                    <button type="button" data-bs-target="#page" class="">صفحة</button>
                    <button type="button" data-bs-target="#juz" class="">جزء</button>
                </div>
                <!-- Tab panes -->
                <div class="side-menu__tab-content container-fluid">
                    <div class="side-menu__tab-content__tab active" id="sura" role="tabpanel" tabindex="0"></div>
                    <div class="side-menu__tab-content__tab" id="page" role="tabpanel" tabindex="0"></div>
                    <div class="side-menu__tab-content__tab" id="juz" role="tabpanel" tabindex="0"></div>
                </div>
                <!-- handmade -->
            </div>
        </div>

        <script>
            let sura_juz_page_list_url = "{% url 'quran:api:sura_juz_page_list' %}";
            let sura_details_url = "{% url 'quran:api:sura_details' 0 %}";
            let page_details_url = "{% url 'quran:api:page_details' 0 %}";
            let juz_details_url = "{% url 'quran:api:juz_details' 0 %}";
            let get_pack_url = "{% url 'quran:api:get_pack' 0 %}";
        </script>

        <!-- jquery -->
        <script src="{% static 'assets/plugins/jquery.js' %}"></script>

        <!-- OWL js -->
        <script src="{% static 'assets/plugins/owl/owl.carousel.min.js' %}"></script>

        <!-- side menu -->
        <script src="{% static 'assets/js/side_menu.js' %}"></script>

        <!-- tabs -->
        <!--<script type="module" src="{% static 'assets/js/tab.js' %}"></script>-->

        <!-- player -->
        <!--<script src="{% static 'assets/js/player.js' %}"></script>-->

        <!-- page js -->
        <script type="module">
            import {Tab} from "{% static 'assets/js/tab.js' %}";
            import {Content} from "{% static 'assets/js/content.js' %}";
            import {Player} from "{% static 'assets/js/player.js' %}";
            import {History} from  "{% static 'assets/js/history.js' %}";

            document.addEventListener("DOMContentLoaded", function () {

                let side_menu = new SideMenu(".side-menu");
                let tab = new Tab(side_menu);
                let player = new Player("player");

                let carousel = $(".owl-carousel");
                carousel.owlCarousel({
                    items: 1,
                    margin: 30,
                    rtl: true,
                    dotsData: false,
                    dots: false,
                    slideTransition: "",
                    smartSpeed: 100,
                });

                // add 604 page to owl-carousel
                for (let i = 1; i <= 604; i++) {
                    let item = document.createElement("div");
                    item.classList.add("item");
                    item.classList.add(String(i));
                    carousel.trigger("add.owl.carousel", item);
                }
                carousel.trigger("refresh.owl.carousel");

                let history = History.get_instance();
                history.goto_position();


                let prev_id;
                carousel.on("translate.owl.carousel", function (event) {
                    let next_item;
                    let prev_item;

                    let sura;
                    let sura_name;
                    if (prev_id > event.item.index) {
                        // going back
                        prev_item = event.target.getElementsByClassName(`item ${prev_id - 2}`)[0];
                        if (prev_item && prev_item.innerHTML === "") {
                            let pack_number = Number(prev_item.classList[1]);
                            pack_number = Math.ceil(pack_number / 10);
                            Content.ajax_next_page(pack_number);
                        }
                        sura = event.target.getElementsByClassName(`item ${event.item.index + 1}`)[0].firstElementChild;
                        sura_name = sura.dataset.sura;
                        console.log("going back", prev_item);
                    } else if (prev_id < event.item.index) {
                        // going forward
                        next_item = event.target.getElementsByClassName(`item ${event.item.index + 2}`)[0];
                        if (next_item && next_item.innerHTML === "") {
                            let pack_number = Number(next_item.classList[1]);
                            pack_number = Math.ceil(pack_number / 10);
                            Content.ajax_next_page(pack_number);
                        }
                        sura = event.target.getElementsByClassName(`item ${event.item.index + 1}`)[0].firstElementChild;
                        sura_name = sura.dataset.sura;
                        console.log("going forward", next_item);
                    }
                    Content.update_page_number(event.item.index + 1);

                    // update the sura name at top of the page
                    Content.update_page_sura(sura_name);

                    // // changing the sura_list, page_list and juz_list in Tab
                    // if (event.item.index + 1 <= 604) {
                    //     Tab.update_sura_list();
                    //     Tab.update_page_list(event.item.index + 1)
                    //     Tab.update_juz_list(event.item.index + 1)
                    // } else if (event.item.index - 1 > 604) {
                    //     Tab.update_sura_list();
                    //     Tab.update_page_list(event.item.index - 1)
                    //     Tab.update_juz_list(event.item.index - 1)
                    // } else {
                    //     Tab.update_sura_list();
                    //     Tab.update_page_list(event.item.index)
                    //     Tab.update_juz_list(event.item.index)
                    // }

                    prev_id = event.item.index;
                });

                // select first aya of each page
                carousel.on("translated.owl.carousel", function (event) {
                    let current_page_index = event.item.index + 1;
                    let current_page = document.getElementsByClassName(`item ${current_page_index}`)[0];
                    let aya = current_page.querySelector('span.aya.selected');
                    if (!aya) {
                        console.log("enter");
                        document.querySelectorAll("span.text").forEach(function (item) {
                            item.parentElement.classList.remove("selected");
                        });
                        let first_aya = current_page.querySelector("span.aya > span.text");
                        first_aya.parentElement.classList.add("selected");
                        Player.restart_progressbar();
                        // Player.update_src(first_aya);

                        Player.update_src(first_aya);
                        if (Player.playing === true) {
                            Player.play_audio();
                        }
                    }

                    // changing the sura_list, page_list and juz_list in Tab
                    if (event.item.index + 1 <= 604) {
                        Tab.update_sura_list();
                        Tab.update_page_list(event.item.index + 1)
                        Tab.update_juz_list(event.item.index + 1)
                    } else if (event.item.index - 1 > 604) {
                        Tab.update_sura_list();
                        Tab.update_page_list(event.item.index - 1)
                        Tab.update_juz_list(event.item.index - 1)
                    } else {
                        Tab.update_sura_list();
                        Tab.update_page_list(event.item.index)
                        Tab.update_juz_list(event.item.index)
                    }
                    // window.history.pushState("", "", event.item.index);

                    history.save_position(document.getElementsByClassName("aya selected")[0]);

                });

            

            });
        </script>
    </body>

</html>
